elasticsearch
# ibm-cloud-sdk-core
# ibm-cos-sdk
# ibm-cos-sdk-core
# ibm-watson
# ibm-watsonx-ai
# ipykernel
# langchain
# langchain-community
# langchain-core
# langchain-experimental
# langchain-openai
# langsmith
# nltk
numpy
# openai
pandas
# pydantic
# pydantic_core
# pypdf
python-dotenv
# ragas
sentence-transformers
# streamlit
# tqdm
chardet
# beautifulsoup4
# langchain-ibm
# scrapy
# pymilvus