# https://pymongo.readthedocs.io/en/stable/installation.html#dependencies
pymongo[zstd]==4.1.1

## this file:
ftfy==6.1.1
nltk==3.7
numpy==1.19.5
pandas==1.4.2
plotly==5.8.0

# NOTE:
# "snorkel==0.9.8" version (atm latest) requires 1.16.5 <= numpy < 1.20, so it is reason why (old) numpy==1.19.5 is installed
# https://github.com/snorkel-team/snorkel/releases
snorkel==0.9.8

# spacy==3.3.0
